<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="recommended_solutions" translate="label" sortOrder="2" showInDefault="0" showInWebsite="0" showInStore="0">
                <label>Featured Adobe Payment solution:</label>
                <fieldset_css>magento-payments-top-section magento-payments-recommended-header</fieldset_css>
                <attribute type="expanded">0</attribute>
            </group>
        </section>
    </system>
</config>
